<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/assets/css/template.css"/>
    <link rel="stylesheet" href="../../static/assets/css/login.css"/>
</head>
<body class="default-body">
    <div class="header">人脸识别系统</div>
    <div class="content">
        <form>
            <div class="login-box">
            <div class="login-title">登录</div>
            <div class="login-content">
                <div class="input-group">
                    <label class="col-md-5 input-title">用户名：</label>
                    <div class="col-md-7 input-box"><input></div>
                </div>
                <div class="input-group">
                    <label class="col-md-5 input-title">密码：</label>
                    <div class="col-md-7 input-box"><input></div>
                </div>
            </div>
        </div>
        </form>
    </div>
</body>
</html>