<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>视频监控页面</title>
    <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/assets/css/template.css">
</head>
<body class="default-body">
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#">
                    Home
                </a>
            </li>
        </ul>
    </div>
    <div class="header">人脸识别系统</div>
    <div class="content">

    </div>
</body>
</html>