.default-body {
    background-color: #E8E5E5;
    margin: 0;
}

.header {
    width: 100%;
    background-color: #2F4056;
    height: 50px;
    font-size: 30px;
    color: white;
}

.content {
    height: 800px;
}


