.default-body {
    background-color: #E8E5E5;
    margin: 0;
}

.header {
    width: 100%;
    background-color: #2F4056;
    height: 50px;
    font-size: 30px;
    color: white;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.1)
}

.content {
    height: 800px;
}

.header-title {
    padding-left: 30px;
}

.header .nav-tabs {
   border-bottom: 0;
}

.header .nav-link {
    font-size: 20px;
    color: white;
    box-shadow: 5px 0px 0px 0px black;
}

.header .nav>li .active {
    background-color: white;
    color: black;
}

.header .nav>li>a:focus {
    background-color: white;
    color: black;
}

.header .nav>li>a:hover {
    background-color: white;
    color: black;
}

.sign-out {
    font-size: 20px;
    margin-top: 15px;
}




